<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>{{ consul_launchagent_label }}</string>
        <key>ProgramArguments</key>
        <array>
{% for arg in consul_launchagent_program_args %}
                <string>{{ arg }}</string>
{% endfor %}
        </array>
        <key>KeepAlive</key>
        <dict>
            <key>SuccessfulExit</key>
            <false/>
            <key>NetworkState</key>
            <true/>
        </dict>
        <key>RunAtLoad</key>
        <true/>
        <key>StandardErrorPath</key>
        <string>{{ log_dir }}/{{ consul_launchagent_log_file }}</string>
        <key>StandardOutPath</key>
        <string>{{ log_dir }}/{{ consul_launchagent_log_file }}</string>
        <key>WorkingDirectory</key>
        <string>{{ consul_launchagent_working_dir }}</string>
    </dict>
</plist>