<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{ container_launchagent_label }}</string>

    <key>ProgramArguments</key>
    <array>
{% for arg in container_launchagent_program_args %}
        <string>{{ arg }}</string>
{% endfor %}
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>AbandonProcessGroup</key>
    <true/>

    <key>StandardOutPath</key>
    <string>{{ log_dir }}/{{ container_launchagent_log_file }}</string>

    <key>StandardErrorPath</key>
    <string>{{ log_dir }}/{{ container_launchagent_log_file }}</string>
</dict>
</plist>
