<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>Label</key>
	<string>{{ nomad_launchagent_label }}</string>
 	<key>ProgramArguments</key>
	<array>
{% for arg in nomad_launchagent_program_args %}
		<string>{{ arg }}</string>
{% endfor %}
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>{{ log_dir }}/{{ nomad_launchagent_log_file }}</string>
	<key>StandardOutPath</key>
	<string>{{ log_dir }}/{{ nomad_launchagent_log_file }}</string>
	<key>WorkingDirectory</key>
	<string>{{ nomad_launchagent_working_dir }}</string>
</dict>
</plist>
